@font-face {
  font-family: 'Agelast';
  src: url("Agelast-mLlAm.otf");
}


body{
  background: #000;
}

#text-title{
  font-family:Agelast;
  font-size: xx-large;

  position: absolute;
  color:  rgb(253, 253, 253);
  /* background:   rgb(8, 79, 126); */
  margin-left: -380px;
  margin-top: -80px;

  padding-left: 300px;
  padding-right: 300px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* border: 2px solid  rgb(49, 166, 245); */
}

#text-typical-import{
  position:absolute;
  font-family:Agelast;
  color:  rgb(253, 253, 253);
  
  margin-left: 30px;
  margin-top: 20px;

  padding: 10px;
  
}

#text-typical-create{
  position:absolute;
  font-family:Agelast;
  color:  rgb(253, 253, 253);
  
  margin-left: 450px;
  margin-top: 20px;

  padding: 10px;
  
}

.base-inner-create-button-highlight{

  position: absolute;
  font-family:Agelast;
  color: white;
  border: 1px solid rgb(50, 160, 245);
  background:rgb(76, 168, 235);

  margin-left: -600px;
  margin-right: 100px;

  padding: 20px;


  align-content: center;
}

.base-inner-create-button{

  position: absolute;
  font-family:Agelast;
  color: white;
  border: 1px solid rgb(50, 160, 245);
  background:rgb(29, 29, 29);


  margin-left: -600px;
  margin-right: 100px;

  padding: 20px;


  align-content: center;
}

.base-inner-create-button:hover{

  cursor: pointer;
  position: absolute;
  font-family:Agelast;
  color: white;
  border: 1px solid rgb(50, 160, 245);
  background:rgb(50, 160, 245);


  margin-left: -600px;
  margin-right: 100px;

  padding: 20px;


  align-content: center;
}

.base-inner-import-button{

  position: absolute;
  font-family:Agelast;
  color: white;
  border: 1px solid rgb(50, 160, 245);
  background:rgb(29, 29, 29);

  margin-left: -300px;
  margin-right: 100px;

  padding: 20px;


  align-content: center;
}

.base-inner-import-button:hover{

  cursor: pointer;
  position: absolute;
  font-family:Agelast;
  color: white;
  border: 1px solid rgb(50, 160, 245);
  background: rgb(50, 160, 245);

  margin-left: -300px;
  margin-right: 100px;

  padding: 20px;


  align-content: center;
}

#base-inner-partition{
  position: absolute;

  margin-top: 80px;
  margin-left: -600px;
  border: 1px solid rgb(50, 160, 245);


  padding-left: 1260px;
  height: 0px;
}

.Base{
  border: 1px solid rgb(49, 166, 245);
  border-radius: 0px;


  margin: auto;
  margin-top: 2%;
  width: 50%;
  padding-top: 100px;
  padding-bottom: 530px;
  padding-left: 650px;

  background: #000;
}


#list{
  background: #000;
}

#option{
  color: aqua;
}

#attributes{
  padding-right: 20px;
  padding-left: 20px;

  background: rgb(49, 166, 245);
  height: 40px;

  border: 2px solid rgb(49, 166, 245);
  color: white;
}

#row{

  text-align: center;
  padding-top: 10px ;
  padding-bottom: 10px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;

  background: rgb(23, 23, 23);
  border: 2px solid rgb(42, 42, 42);
}

#row:hover{

  text-align: center;
  padding-top: 10px ;
  padding-bottom: 10px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;

  background: rgb(105, 190, 247);
  border: 2px solid rgb(42, 42, 42);
}


.newbutton {
  position: absolute;
  margin-top: 180px;
  margin-left: 65px;

}

.table-button{

  border-radius: 0%;
  padding: 10px;

  background:rgb(49, 166, 245);
  border: solid rgb(29, 29, 29);

  width: 140px;

  font-size: 15px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.table{

  position: absolute;
  margin-top: 260px;
  margin-left: 105px ;

  font-family:Arial, Helvetica, sans-serif;

}

.add-column{
  margin-left: 5px;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 35px;
  background: rgb(22, 22, 22);
  font-size: 15px;

  border: solid rgb(49, 166, 245);
}

.add-column:hover{
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 35px;
  background: rgb(49, 166, 245);
  font-size: 15px;

  border: solid rgb(49, 166, 245);
}

.add-row{
  margin-top: 5px;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 35px;
  background: rgb(22, 22, 22);
  font-size: 15px;

  border: solid rgb(49, 166, 245);
}

.add-row:hover{
  margin-top: 5px;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 35px;
  background: rgb(49, 166, 245);
  font-size: 15px;

  border: solid rgb(49, 166, 245);
}